.container-meal-by-meal-type{
    width: 80%;
    margin: auto;
}
#btn-goTo-cart{
    margin-top: 30px;
}

.btn-primary{
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.btn-secondary{
    background-color: #ff3838 !important;
    border-color: #ff3838 !important; 
}

.mealPic{
    width: 240px !important;
}

.td-content-img{
    display: flex;
    justify-content: center;
}

.td-content.desc{
    max-width: 300px;
}