.registration-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-registration{
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #dee2e6;
    /* box-shadow: 0 0 15px 15px rgb(133, 127, 127); */
    box-shadow: 0 0 20px 0 rgb(0,0, 0, 0.6);
}

#registrationBtn{
    font-size: 18px !important;
}

.title-registration{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    align-items: center;
}

.icon-registration{
    font-size: 30px;
    margin-right: 10px;
    fill: #198754;
}

@media(max-width: 900px){
    .card-registration{
        width: 90%;
        margin: auto;
    }
}