.mealPic{
    
    height: 110px;
    width: 90%;
    object-fit: cover; /* da ne razvuce sliku */
     border: 2px rgb(173, 135, 135) solid ; 
    border-radius: 5px;
    /*align-items: center;
    text-align: center;
    justify-content: center; */
    margin-right: 0px;
    margin-left: 0px;
    /* text-align: center;  */
}

.theadth{
    
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    font-size: larger;
}

.td-content-img{
    display: flex; 
    justify-content: center;
}

.td-content{

/* text-align: center; */
 align-items: center;
 font-size: larger;
}

#table{
    background-color: whitesmoke;
    border: 2px solid  rgb(131, 131, 131);
    /* border-radius: 10px; ne savije ivice kako treba */
    /* opacity: 0.7; */
}

