.mealPic{
    
    height: 110px;
    width: 90%;
    object-fit: cover; /* da ne razvuce sliku */
     border: 2px rgb(173, 135, 135) solid ; 
    border-radius: 5px;
    /*align-items: center;
    text-align: center;
    justify-content: center; */
    margin-right: 0px;
    margin-left: 0px;
    /* text-align: center;  */
}

.theadth{
    
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}

.td-content-img{
    display: flex; 
    justify-content: center;
}

.td-content{

/* text-align: center; */
 align-items: center;
}