.mealPic{
    
        height: 50px;
        width: 50px;
        /*align-items: center;
        text-align: center;
        justify-content: center; */
        margin-top: 2px;
        margin-left: 5px;
   
}