@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 58, 58);
  text-align: center;
  color: white;
}

.header {
  /* top: 0;
  position: fixed; */


  color: white;
  background-color: rgb(255, 58, 58);
}

.logo {
  font-size: x-large;
}

.container-add-employee {
  margin-bottom: 50px;
}

/* .container-main {
  position: relative;

  width: 100%;
  height: 100%;
}  */

body {
  overflow: hidden;
}

.router-view {
  overflow-y: auto; 
  height: calc(100vh - 110px);
  overflow-x: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* #root {
  height: 100%;
  width: 100%;
  position: relative;
} */

#root:before{
  /* position: relative; */
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 136, 164, 0.2), rgba(255, 136, 164, 0.2)), url('./images/backimage.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.35;
}


h2{
  font-weight: 500 !important;
  letter-spacing: 1px;
}

a{
  font-weight: 500;
  letter-spacing: 1px;
}

button{
  font-weight: 500 !important;
  letter-spacing: 1px;
}

.swal2-confirm.swal2-styled.swal2-default-outline{
  background-color: #198754 !important; /* yes button na swal alertu, ne treba na ovaj nacin, ali radi okej. */
}



* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/********** SCROLL BAR START ************/

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: green;
}

::-webkit-scrollbar-thumb {
  background: red;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(140, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: green;
}

/********** SCROLL BAR END ************/