@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 58, 58);
  text-align: center;
  color: white;
}

.header {
  /* top: 0;
  position: fixed; */


  color: white;
  background-color: rgb(255, 58, 58);
}

.logo {
  font-size: x-large;
}

.container-add-employee {
  margin-bottom: 50px;
}

/* .container-main {
  position: relative;

  width: 100%;
  height: 100%;
}  */

body {
  overflow: hidden;
}

.router-view {
  overflow-y: auto; 
  height: calc(100vh - 110px);
  overflow-x: hidden;
}

/* #root {
  height: 100%;
  width: 100%;
  position: relative;
} */

#root:before{
  /* position: relative; */
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/backimage.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}






* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}