.theadth{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    font-size: larger;
}

.td-content{
    /* text-align: center; */
    align-items: center;
    font-size: larger;
}

.tableElement{
    margin-top: 20px;
    background-color: whitesmoke; 
    border-radius: 30px !important;
    border: 3px solid; 
    border-collapse: separate !important; /*mora ovo separate zbog bootstrapa, ne savije border, jer bootstrap setuje na collapse
    /* border: 10px solid rgb(241, 0, 0) !important da pregazi bootstrapov border */
    box-shadow: 0 0 15px 15px rgb(133, 127, 127);
}
    
   
