.logo{
    height: 75px;
    width: 75px;
    /*align-items: center;
    text-align: center;
    justify-content: center; */
    margin-top: 2px;
    margin-left: 5px;
}

.logo-cart{
    height: 50px;
    width: 50px;
    /*align-items: center;
    text-align: center;
    justify-content: center; */
   margin-right: 5px;
}

.number-cart{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #5cb85c;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    /* margin-bottom: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}





/*#employeeLink{
    font-size: x-large;
} */


.registrationLine{
    background-color: white;
    height: 4px;
    width: 100px;
    border-radius: 50px;
    
}

/*.registrationLine:hover{
    background-color: green;
} */

.registrationLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    
}

.myProfileLink{
   /* display: flex; 
    flex-direction: column;
    */
    /*justify-content: center; */
    /*align-items: center; */
    
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    
}


.header{
    background: #ff3838;
    height: 80px;
    display: flex;
    /*justify-content: space-between; */
    padding: 0.5rem calc((100vm - 1000px) / 2);
    z-index: 10;
    /* da krene od loga */
    justify-content: flex-start;
    position: sticky;
    top: 0; /*bez ovoga ne radi*/
}
     

.navLink{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;

    /*&.active{
        color: #ffffff;
    } proveriti ovo kako se u css pise */ 
    /*
    &:hover {
        transition: all 0.2s ease-in-out;
        background: #fff;
        color: #010606;
      }
      */
}
    

/*export const Bars = styled(FaBars)`
    display: none;
    color: #fff;
`;

*/

.navMenu{
    display: flex;
    align-items: center;
    /*margin-right: -24px; */
    width: 100vm;
    white-space: nowrap;
}
    


.navBtn{
    display: flex;
  align-items: center;
  margin-right: 24px;
  /* Third Nav */
  justify-content: flex-end;
  width: 100vw; 
  @media screen and (max-width: 768px) {
    display: none;
  }
}
  


#signInBtn{
    border-radius: 4px;
  /*background: #256ce1; */
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
  
}

#signOutBtn{
    border-radius: 4px;
  /*background: #256ce1; */
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
  
}

#signInBtn:hover{
   
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
      
}

#signOutBtn:hover{
   
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
      
}
  




