.container-final-order{
    width: 90%;
    margin: auto;
}

.title-id-final-order{
    padding: 20px 30px;
    background: rgb(245, 245, 245);
    width: fit-content;
    margin: auto;
    color: black;
    font-size: 28px;
    font-weight: 500;
    border-radius: 20px;

    border: 2px solid grey;
    box-shadow: 0 0 16px 0 rgb(0,0, 0, 0.6);
    text-align: center;
    margin-bottom: 30px;
}

.tableElement{
    overflow-x: auto; /* Enable horizontal scrolling for the table */
    box-shadow: 0 0 10px 0 rgb(0,0, 0, 0.6) !important ;
}

.table-responsive-container{
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.btn-show-items{
    border: none;
    border-radius: 12px;
    background-color: #198754;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500;
    color: whitesmoke;
    padding: 10px 20px;
}

.theadth{
    text-align: left !important;
}

.modalCustomShowItems{
    min-width: 60%;
    /* background-color: #198754; */
}

@media(max-width: 1500px){
    .btn-show-items{
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media(max-width: 1100px){
    .container-final-order{
        width: 96%;
    }
    .table-responsive-container{
        padding: 0;
    }
    .theadth{
        font-size: 16px !important;
    }
    .td-content{
        font-size: 14px !important;
    }
    .btn-show-items{
        font-size: 14x ;
    }
    .modalCustomShowItems{
        min-width: 90%;
    }
    .title-id-final-order{
        font-size: 20px;
    }
}

@media(max-width: 600px){
    .theadth{
        font-size: 14px !important;
    }
    .btn-show-items{
        font-size: 12px ;
        font-weight: 400;
    }
    .td-content{
        font-size: 12px !important;
    }
   
}

.final-order-card-container{
    width: 80%;
    margin: auto;
    background-color: #198754;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 0 16px 0 rgb(0,0, 0, 0.6);
    border-radius: 20px;
}

.info-container{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    width: fit-content;
}

.action-container{
    /* flex: 1; */
}

.label-desc, .label-content, .show-items-btn{
    white-space: nowrap;
}

.label-desc{
    color: rgb(101, 101, 101);
}

.label-content{
    font-weight: 500;
    font-size: 18px;
}

.show-items-btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #198754;
    color: whitesmoke;
    border: none;
}

