.mealPicModal{ 
    /* height: 60px; */
    height: 70px;
    width: 120px;
    object-fit: cover; /* da ne razvuce sliku */
     border: 1px rgb(173, 135, 135) solid ; 
    border-radius: 5px;
    margin-right: 0px;
    margin-left: 0px;

}

.td-content-img{
    display: flex;
    justify-content: center;
}

th{
    white-space: nowrap;
    font-size: 14px;
}

/* td{
    font-size: 14px;
} */

.table-responsive-container{
    overflow-x: auto;
    max-width: 100%;
}

@media(max-width: 1100px){
    th{
        font-size: 14px !important;

    }
    td
    {font-size: 14px !important;
    }

}

@media(max-width: 600px){
    .mealPicModal{
        width: 90px;
    }
}
